@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(240, 239, 233);
}
#mapArea {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
#mapArea a:hover span {
    color: rgb(127, 95, 76)
}
#map {
    width: 100%;
    max-width: 1200px;
}
.coffee img, .restaurant img, .culture img {
    position: absolute;
    width: 4%;
}
.companyName {
    position: absolute;
    width: auto;
    font-family: KOTRAHOPE;
    font-size: 1.8vw;
    color: #2a2a2a;
    left: 10%;
    top: 72%;
    margin-left: 3%;
    margin-top: 3%;
}
#sandhill * { left: 9%; top: 72%; }
#forrenu * { left: 30%; top: 49%; }
#cafeDune * { left: 54%; top: 21%; }
#pettiSantorini * { left: 58%; top: 14%; }
#countryroadCoffee * { left: 86%; top: 86%; }
#sinduriRestaurant img { left: 30%; top: 58%; }
#sinduriRestaurant span { left: 31%; top: 56%; }
#fishingVillage img { left: 32%; top: 70%; }
#fishingVillage span { left: 33%; top: 67%; }
#ohrock img { left: 30%; top: 63%; }
#ohrock span { left: 31%; top: 62%; }

@media (min-width: 1500px) {
    .companyName {
        font-size: 27px;
    }
}